.pokeDetailsCard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: (opacity 0.5s ease-in-out);
  z-index: 1000;
}

.btnCard {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.pokeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.pokeCard img {
  width: 100%;
}
.pokeDetailsCard {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.carouselCard {
  text-align: center;
  padding: 20px;
}

.btnCard {
  margin-bottom: 10px;
  background-color: #ff6f61;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
