.searchForm {
  background-color: black;
  padding: 8px 30px;
  border-radius: 50px;
  height: 3rem;
  display: flex;
  width: 90%;
}
.searchForm button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input {
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  color: white;
}

input:focus-visible {
  outline: none;
}
